<header class="fluid-container main-header">
  <nav class="navbar navbar-expand-lg container">
    <h1 ><a [routerLink]="['/']"><picture><img src="assets/logo/logo.png" alt="Spaces"></picture></a></h1>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Content</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-primary" [routerLink]="['/dashboard']">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</header>