<main class="fluid-container dashboard">
  <header class="dashboard__header fluid-container">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item" aria-current="page">Dashboard</li>
        </ol>
      </nav>
      <div class="dashboard__header__content row">
        <div class="col-md-6">
          <h2 class="dashboard__header__title">
            Users List
          </h2>
        </div>
        <div class="col-md-6 dashboard__header__actions text-right">
          <button class="btn btn-primary">New User</button>
        </div>
      </div>
    </div>
  </header>
  <section class="fluid-container main-container">
  
  </section>
</main>